.sell_car_header {
  width: 80%;
  margin: 50px auto 100px auto;
  background: rgb(85, 1, 85);
  height: 200px;
  text-align: center;
  color: white;
  position: relative;
}

.sell_car_header h1 {
  padding-top: 35px;
}

.sell_car_header img {
  margin-bottom: 25px;
  width: 500px;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.sell_car_form_section {
  width: 100%;
  height: 100%;
  position: relative;
}

.success_submit_message {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: absolute;
}

.success_message {
  width: 30%;
  height: 70vh;
  background: rgb(85, 1, 85);
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success_message h1 {
  text-align: center;
}

.success_message button {
  margin-top: 45px;
  width: 150px;
  color: rgb(85, 1, 85);
  font-weight: 900;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.sell_car_section img {
  width: 700px;
}

form input {
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  min-height: 38px;
  padding: 2px 8px;
  box-shadow: none;
  font-size: 14px;
  color: #333;
  width: 400px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.select {
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  min-height: 38px;
  padding: 2px 4px;
  box-shadow: none;
  font-size: 14px;
  color: #757575;
  width: 400px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.hidden_fule_input {
  display: none;
}

.upload_button {
  background-color: rgb(156, 10, 156);
  color: white;
  margin: 15px 0;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
}

.upload_button:active {
  border: none;
  outline: none;
}

.upload_button:focus {
  border: none;
  outline: none;
}

.upload_button img {
  width: 20px;
  margin-right: 10px;
  
}

.image_previews {
  display: flex;
  width: 100%;
  gap: 10px;
}

.preview_images {
  width: 100px;
  height: 10vh;
  object-fit: cover; 
  object-position: center;
  border-radius: 10px;
  border: 2px solid rgb(156, 10, 156, 0.3);
}

.submit_button {
  border: 1px solid rgb(136, 132, 132);
  color: rgb(156, 10, 156);
  width: 250px;
  font-weight: 400;
  margin-top: 15px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.submit_button:hover {
  color: white;
  background-color: rgb(156, 10, 156);
  outline: none;
  border: none;
}

.submit_button:active {
  outline: none;
  border: none;
}

.submit_button:active {
  transform: scale(0.9);
}

.login_prompt {
  text-align: center;
  margin: 25px auto;
  padding: 5px 0;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  font-weight: 300;
  background-color: #ff4e1f;
  width: 400px;
  border-radius: 5px;
}

@media (max-width: 870px) {
  .sell_car_header {
    width: 90%;
  }

  .sell_car_header h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 625px) {
  .sell_car_header {
    width: 100%;
  }

  .sell_car_header h1 {
    font-size: 2.1rem;
  }
}
