.main_container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 13.1rem;
}

.header {
  font-size: 1.2rem;
  margin-top: 5rem;
  font-weight: 600;
}

.subheader {
  font-size: 3.5rem;
  margin: 1rem 0;
  font-family: sans-serif;
}

.paragraph {
  font-weight: 400;
}

@media (max-width: 920px) {
  .main_container {
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .subheader {
    font-size: 2.8rem;
    margin: 1rem 0;
    font-family: sans-serif;
  }

  
  .red_mercedes_picture img {
    width: 95%;
  }

  .main_text {
    text-align: center;
  }
}
