.used_cars_list_and_filter {
  display: flex;
  gap: 50px;
  margin: 0 auto;
  width: 90%;
  margin-top: 25px;
}

.used_cars_list{
  width: 75%;
  
}

.used_cars_filter {
  width: 25%;
  background: rgba(180, 175, 174, 0.1);;
  margin-top: 20px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 920px) {
  .used_cars_filter {
    display: none;
  }

  .used_cars_list{
    width: 100%;
  }

  .used_cars_container_and_filter {
    width: 100%;
    gap: 0;
  }
}