.used_cars_container_and_filter {
  display: flex;
  width: 90%;
  margin: 50px auto 0 auto;
}

.used_cars_filter {
  background: rgba(180, 175, 174, 0.1);;
  width: 30%;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 920px) {
  .used_cars_filter {
    display: none;
  }

  .used_cars_container_and_filter {
    width: 100%;
  }
}