.signup_page {
  width: 92%;
  margin: 0 auto;
  height: 88vh;
  display: flex;
}

.signup_left_side {
  position: relative;
  width: 50%;
  background: url("../../../src/assets/car-2.jpg");
  background-size: cover;
  background-position: center;
  margin: 15px;
  border-radius: 25px;
  overflow: hidden;
}

.signup_left_side::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  z-index: 1;
}

.signup_left_header {
  position: absolute;
  font-size: 1.1rem;
  width: 350px;
  top: 10%;
  left: 10%;
}

.signup_left_header h1 {
  color: white;
  position: relative;
  z-index: 2;
}

.signup_left_bottom {
  display: flex;
  padding: 0 3rem;
  justify-content: space-between;
  align-items: center;
  background: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8vh;
  z-index: 2;
}

.signup_left_bottom_text p {
  color: white;
  position: relative;
  z-index: 2;
}

.signup_left_bottom button {
  padding: 0.2rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 5px;
  font-weight: 400;
  background: #fa4428;
  color: whitesmoke;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  outline: none;
  border: none;
}

.signup_left_bottom button:focus,
.signup_left_bottom button:active {
  outline: none;
  border: none;
}

.signup_left_bottom button:hover {
  background: #d42105;
}

.signup_left_bottom button:active {
  transform: scale(0.9);
}

.signup_right_side {
  width: 50%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup_input_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.signup_input_title img {
  width: 9rem;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
  z-index: 2;
}

.signup_input_title img:hover {
  transform: scale(1.2);
}

.signup_input_title h2 {
  font-size: 2rem;
}

.signup_input_title p {
  color: darkgrey;
  font-size: 0.8rem;
}

.signup_form {
  width: 50%;
  margin: 0 auto;
}

.signup_form input {
  width: 100%;
  height: 2rem;
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid grey;
  outline: none;
}

.signup_user_info {
  width: 100%;
}


.terms_and_conditions {
  display: flex;
  align-items: center;
}

.terms_and_conditions input {
  margin-top: 15px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.terms_and_conditions label {
  font-size: 1rem;
  line-height: 1.2rem;
}

.terms_and_conditions a {
  color: #fa4428;
  text-decoration: none;
}

.terms_and_conditions a:hover {
  text-decoration: underline;
}

.signup_form button {
  width: 100%;
  height: 2.5rem;
  margin-top: 10px;
  background: #fa4428;
  color: white;
  border-radius: 10px;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  outline: none;
  border: none;
}

.signup_form button:focus,
.signup_form button:active {
  outline: none;
  border: none;
}

.signup_form button:hover {
  background: #d42105;
}

.signup_form button:active {
  transform: scale(0.9);
}


@media (max-width: 1150px) {
  .signup_page {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  .signup_left_side {
    display: none;
  }

  .signup_right_side {
    position: relative;
    margin: 0;
    background: url("../../assets/car-2.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }

  .signup_right_side::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
  }

  .signup_input_title,
  .signup_form {
    position: relative;
    z-index: 2;
    width: 600px;
  }

  .signup_input_title p {
    color: white;
  }

  .signup_input_title h2,
  .signup_input_title p,
  .signup_form input,
  .signup_form button {
    z-index: 2;
    width: 600px;
  }

  .signup_input_title img {
    display: none;
  }

  .signup_input_title h2 {
    color: white;
    font-size: 3.5rem;
    text-align: center;
  }

  .signup_input_title p {
    text-align: center;
    font-size: 1rem;
  }

  .signup_user_info {
    justify-content: space-between;
  }

  .signup_user_first_name, .signup_user_last_name {
    width: 49%;
  }

  .signup_user_first_name input{
    width: 100%;
  }

  .signup_user_last_name input{
    width: 100%;
  }

  .terms_and_conditions {
    display: flex;
    flex-direction: row;
  }

  .terms_and_conditions input{
    width: 15px;
    margin: 0 10px 0 0;
  }

  .terms_and_conditions label {
    color: white;
  }

  .terms_and_conditions_text span {
    color: rgb(228, 226, 226);
  }
  
}

@media (max-width: 620px) {
 

  .signup_input_title,
  .signup_form {
    width: 300px;
  }

  .signup_input_title h2,
  .signup_input_title p,
  .signup_form input,
  .signup_form button {
    width: 300px;
  }

  .signup_input_title h2 {
    font-size: 2rem;
    text-align: center;
  }

  .signup_user_info {
    flex-direction: column;
  }

  .terms_and_conditions input{
    width: 35px;
    margin: 0;
  }

  .terms_and_conditions input{
    width: 15px;
    margin: 0 10px 0 0;
  }

  .terms_and_conditions_text span {
    color: rgb(228, 226, 226);
  }

}
